{% extends 'base.html.twig' %}

{% block title %}
About Us
{% endblock %}

{% block body %}

    <section class="white-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <div class="widget margin-top">
                        <div id="aboutslider" class="flexslider clearfix">
                            <ul class="slides">
                                <li style="width: 100%; float: left; margin-right: -100%; position: relative; display: block; z-index: 2; opacity: 1;" class="flex-active-slide"><img src="demos/about_mini_01.jpg" class="img-responsive" alt="" draggable="false"></li>
                                <li style="width: 100%; float: left; margin-right: -100%; position: relative; display: block; z-index: 1; opacity: 0;" class=""><img src="demos/about_mini_02.jpg" class="img-responsive" alt="" draggable="false"></li>
                            </ul><!-- end slides -->
                            <div class="aboutslider-shadow">
                                <span class="s1"></span>
                            </div>
                            <ol class="flex-control-nav flex-control-paging"><li><a class="flex-active">1</a></li><li><a class="">2</a></li></ol><ul class="flex-direction-nav"><li><a class="flex-prev" href="#"></a></li><li><a class="flex-next" href="#"></a></li></ul></div><!-- end slider -->
                    </div><!-- end widget -->
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <div class="widget">
                        <h3>WHAT WE CAN OFFER YOU?</h3>
                        <p>Learn Piano Kenya is dedicated to providing in home and institutional music lessons within Nairobi and its environs. We offer a multi-dimensional approach to music education that is focused on enriching, developing and activating the cognitive abilities of young children. Through this, we are able to instill a culture of lifelong continuous learning and in the process, provide a platform through which young children are able to express themselves through music</p>

                        <p>At Learn Piano, we understand the uniqueness of every child.Our experienced and skilled team ensure that the children get a wholesome, well grounded and holistic music experience that enables them to do their best in what they ought to do.</p>
                        <div class="clearfix"></div>
                        <div class="row">
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 first">
                                <ul class="check">
                                    <li>Custom Shortcodes</li>
                                    <li>Visual Page Builder</li>
                                    <li>Unlimited Shortcodes</li>
                                    <li>Responsive Theme</li>
                                    <li>Tons of Layouts</li>
                                </ul><!-- end check -->
                            </div><!-- end col-lg-4 -->
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                <ul class="check">
                                    <li>Font Awesome Icons</li>
                                    <li>Pre-Defined Colors</li>
                                    <li>AJAX Transitions</li>
                                    <li>High Quality Support</li>
                                    <li>Unlimited Options</li>
                                </ul><!-- end check -->
                            </div><!-- end col-lg-4 -->
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 last">
                                <ul class="check">
                                    <li>WooCommerce Layouts</li>
                                    <li>Pre-Defined Fonts</li>
                                    <li>Style Changers</li>
                                    <li>Footer Styles</li>
                                    <li>Header Styles</li>
                                </ul><!-- end check -->
                            </div><!-- end col-lg-4 -->
                        </div><!-- end row -->
                    </div><!-- end widget -->
                </div><!-- end col-lg-6 -->
            </div><!-- end row --><br>
        </div><!-- end container -->
    </section>
    <section class="white-wrapper">
        <div class="container">
            <div class="general-title">
                <h2>Our Team Members</h2>
                <hr>
                <p class="lead">These is the team behind Jollyany Agency</p>
            </div><!-- end general title -->

            <div class="padding-top text-center">
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 first">
                    <div class="team_member">
                        <div class="entry">
                            <img class="img-responsive" src="demos/01_team.png" alt="">
                            <div class="magnifier">
                                <div class="buttons">
                                    <a class="sf" rel="bookmark" href="#"><span class="fa fa-envelope"></span></a>
                                    <a class="sf" rel="bookmark" href="#"><span class="fa fa-google-plus"></span></a>
                                    <a class="st" rel="bookmark" href="#"><span class="fa fa-twitter"></span></a>
                                    <a class="sg" rel="bookmark" href="#"><span class="fa fa-facebook"></span></a>
                                </div>
                            </div><!-- end magnifier -->
                        </div><!-- end entry -->
                        <h3>Jessica Motra <span>|</span> <small>Web Designer</small></h3>
                        <p>Cras dapibus. Vivamus elementum semper  Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae</p>
                    </div><!-- end team_member -->
                </div><!-- end col-lg-3 -->
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="team_member">
                        <div class="entry">
                            <img class="img-responsive" src="demos/02_team.png" alt="">
                            <div class="magnifier">
                                <div class="buttons">
                                    <a class="sf" rel="bookmark" href="#"><span class="fa fa-envelope"></span></a>
                                    <a class="st" rel="bookmark" href="#"><span class="fa fa-twitter"></span></a>
                                    <a class="sg" rel="bookmark" href="#"><span class="fa fa-facebook"></span></a>
                                </div>
                            </div><!-- end magnifier -->
                        </div><!-- end entry -->
                        <h3>Luke Backer <span>|</span> <small>Web Designer</small></h3>
                        <p>Cras dapibus. Vivamus elementum semper  Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae</p>
                    </div><!-- end team_member -->
                </div><!-- end col-lg-3 -->
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="team_member">
                        <div class="entry">
                            <img class="img-responsive" src="demos/03_team.png" alt="">
                            <div class="magnifier">
                                <div class="buttons">
                                    <a class="sf" rel="bookmark" href="#"><span class="fa fa-google-plus"></span></a>
                                    <a class="st" rel="bookmark" href="#"><span class="fa fa-twitter"></span></a>
                                    <a class="sg" rel="bookmark" href="#"><span class="fa fa-facebook"></span></a>
                                </div>
                            </div><!-- end magnifier -->
                        </div><!-- end entry -->
                        <h3>John DEO <span>|</span> <small>Web Designer</small></h3>
                        <p>Cras dapibus. Vivamus elementum semper  Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae</p>
                    </div><!-- end team_member -->
                </div><!-- end col-lg-3 -->
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 last">
                    <div class="team_member">
                        <div class="entry">
                            <img class="img-responsive" src="demos/04_team.png" alt="">
                            <div class="magnifier">
                                <div class="buttons">
                                    <a class="sf" rel="bookmark" href="#"><span class="fa fa-envelope"></span></a>
                                    <a class="st" rel="bookmark" href="#"><span class="fa fa-twitter"></span></a>
                                    <a class="sg" rel="bookmark" href="#"><span class="fa fa-facebook"></span></a>
                                </div>
                            </div><!-- end magnifier -->
                        </div><!-- end entry -->
                        <h3>Adam DEO  <span>|</span> <small>Web Designer</small></h3>
                        <p>Cras dapibus. Vivamus elementum semper  Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae</p>
                    </div><!-- end team_member -->
                </div><!-- end col-lg-3 -->
            </div><!-- end row -->
        </div><!-- end container -->
    </section>


{% endblock %}

